In [ ]:
http://pandas.pydata.org/pandas-docs/stable/10min.html

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
s = pd.Series([1, 3,5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [12]:
dates = pd.date_range('20130101', periods=6)

In [14]:
df0 = pd.DataFrame(np.random.rand(6,4), index=dates, columns=list('ABCD'))
df0

                   A         B         C         D
2013-01-01  0.855002  0.234763  0.793269  0.883565
2013-01-02  0.646295  0.864735  0.446456  0.199368
2013-01-03  0.341623  0.414729  0.248032  0.817551
2013-01-04  0.515729  0.349248  0.210343  0.906683
2013-01-05  0.496881  0.507242  0.975698  0.422247
2013-01-06  0.122037  0.207232  0.081723  0.574483

In [56]:
df = pd.DataFrame({ 
    'A': [1], 
    'B': pd.Timestamp('20130102'),
    'C': np.array([3] * 1,dtype='int32'),
    'E' : pd.Categorical(["test"])
});
print(df)
print(df.dtypes)

   A          B  C     E
0  1 2013-01-02  3  test
A             int64
B    datetime64[ns]
C             int32
E          category
dtype: object

In [58]:
df.index, df.columns, df.values

(RangeIndex(start=0, stop=1, step=1),
 Index(['A', 'B', 'C', 'E'], dtype='object'),
 array([[1, Timestamp('2013-01-02 00:00:00'), 3, 'test']], dtype=object))

In [59]:
df.describe()

         A    C
count  1.0  1.0
mean   1.0  3.0
std    NaN  NaN
min    1.0  3.0
25%    1.0  3.0
50%    1.0  3.0
75%    1.0  3.0
max    1.0  3.0

In [60]:
df.T

                     0
A                    1
B  2013-01-02 00:00:00
C                    3
E                 test